@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Roboto Condensed", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Roboto Condensed", Georgia, serif;
  --font-mono: "Roboto Condensed", ui-monospace, monospace;
}
